<?xml version="1.0" encoding="ISO-8859-1"?>
<configuration>
  <interval>
    <updates>1</updates>
    <mentions>1</mentions>
    <favorites>1</favorites>
    <directMessages>2</directMessages>
    <search>7</search>
    <publicTimeline>1</publicTimeline>
    <mostPopularUsers>7</mostPopularUsers>
  </interval>
  <color>
    <edge>-8355712</edge>
    <text>-16777216</text>
    <mainUser>-14336</mainUser>
    <searchResult>-10789889</searchResult>
    <friends>-12517377</friends>
    <followers>-49088</followers>
    <friendsAndFollowers>-12517568</friendsAndFollowers>
    <selectedItem>-192</selectedItem>
    <nodeStroke>-16777216</nodeStroke>
  </color>
  <edgeType>0</edgeType>
  <networkForces>
    <gravConstant>-1.0</gravConstant>
    <minDistance>-1.0</minDistance>
    <theta>0.9</theta>
    <drag>0.0070</drag>
    <springCoeff>9.99E-6</springCoeff>
    <defaultLength>180.0</defaultLength>
  </networkForces>
</configuration>

