<?xml version="1.0" encoding="ISO-8859-1"?>
<configuration>
  <interval>
    <updates>1</updates>
    <mentions>1</mentions>
    <favorites>1</favorites>
    <directMessages>1</directMessages>
    <search>1</search>
    <publicTimeline>1</publicTimeline>
    <mostPopularUsers>60</mostPopularUsers>
  </interval>
  <color>
    <edge>-8355712</edge>
    <text>-16777216</text>
    <mainUser>-14336</mainUser>
    <searchResult>-10789889</searchResult>
    <friends>-12517377</friends>
    <followers>-49088</followers>
    <friendsAndFollowers>-12517568</friendsAndFollowers>
    <selectedItem>-192</selectedItem>
    <nodeStroke>-16777216</nodeStroke>
  </color>
  <edgeType>1</edgeType>
  <networkForces>
    <gravConstant>-0.2</gravConstant>
    <minDistance>-1.0</minDistance>
    <theta>0.01</theta>
    <drag>0.015000001</drag>
    <springCoeff>1.0E-5</springCoeff>
    <defaultLength>148.0</defaultLength>
  </networkForces>
</configuration>

