<?xml version="1.0" encoding="ISO-8859-1"?>
<configuration>
  <interval>
    <updates>60</updates>
    <mentions>60</mentions>
    <favorites>60</favorites>
    <directMessages>60</directMessages>
    <search>60</search>
    <publicTimeline>60</publicTimeline>
    <mostPopularUsers>60</mostPopularUsers>
  </interval>
  <color>
    <edge>-1</edge>
    <text>-1</text>
    <mainUser>-1</mainUser>
    <searchResult>-1</searchResult>
    <friends>-1</friends>
    <followers>-1</followers>
    <friendsAndFollowers>-1</friendsAndFollowers>
    <selectedItem>-1</selectedItem>
    <nodeStroke>-1</nodeStroke>
  </color>
  <edgeType>1</edgeType>
  <networkForces>
    <gravConstant>-1.0</gravConstant>
    <minDistance>-1.0</minDistance>
    <theta>0.9</theta>
    <drag>0.0070</drag>
    <springCoeff>9.99E-6</springCoeff>
    <defaultLength>180.0</defaultLength>
  </networkForces>
  <tweetsToGet>
    <updates>150</updates>
  </tweetsToGet>
</configuration>

