<configuration>
  <intervalUpdates>120</intervalUpdates>
  <intervalMentions>120</intervalMentions>
  <intervalFavorites>120</intervalFavorites>
  <intervalDirectMessages>120</intervalDirectMessages>
  <intervalSearch>120</intervalSearch>
  <intervalPublicTimeline>120</intervalPublicTimeline>
  <intervalRateLimitStatus>120</intervalRateLimitStatus>
  <intervalMostPopularUsers>5</intervalMostPopularUsers>
  <edgeColor>-8355712</edgeColor>
  <textColor>-16777216</textColor>
  <mainUserColor>-14336</mainUserColor>
  <searchResultColor>-10789889</searchResultColor>
  <friendsColor>-12517377</friendsColor>
  <followersColor>-49088</followersColor>
  <friendsAndFollowersColor>-12517568</friendsAndFollowersColor>
  <selectedItemColor>-192</selectedItemColor>
  <nodeStrokeColor>-16777216</nodeStrokeColor>
  <edgeType>0</edgeType>
</configuration>


